@media only screen and (max-width:1200px) {
    .navbar .main{
        display: flex;
        position: relative;
        left: 40%;
        margin-top:14px;
       }
}

@media only screen and (max-width:1060px){
    .item1{
        position:absolute;
        top: 8rem;
        left:4rem;
    }

}
@media only screen and (max-width:1000px){
    
    .item1{
        position:absolute;
        top: 8rem;
        left:1rem;
    }
    .navbar .main{
        display: flex;
        position: relative;
        left: 35%;
        margin-top:14px;
       }
    
         
       .headin{
        position: relative;
        font-size: 32px;
        left: 100px;
        top: 16px;
       }
}

@media only screen and (max-width:926px){
    
    .item1{
        display:none;
    }
    .item2{
           
        width: 100%;
        position: relative;
        left: 3%;
        
        top:-1rem;
        
    }
    .navbar .main{
        display: flex;
        position: relative;
        left: 30%;
        margin-top:14px;
       }
}
@media only screen and (max-width:850px){
    .item1{
        display:none;
    }
    .item2{
           
        width: 100%;
        position: relative;
        left: 2%;
        
        top:-1rem;
        
    }
    .navbar .main{
        display: flex;
        position: relative;
        left: 25%;
        margin-top:14px;
       }
       .headin{
        position: relative;
        font-size: 32px;
        left: 60px;
        top: 16px;
       }
}
